*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #098CB5;
    overflow-x: hidden;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.logo{
    cursor: pointer;
    margin: 0 auto;
    margin-top: 75px;
}


.logo h1{
    border-radius: 50px;
    border: 3px solid whitesmoke;
    padding: 10px 40px 20px 20px;
    color: whitesmoke;
    width: 200px;
    height: 25px;
    margin: 0;
    font-family: 'Exo', sans-serif;
    letter-spacing: 3px;
}

.logo span{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}

.teamtag{
    text-align: center;
    margin-top: 25px;
    color: whitesmoke;
    letter-spacing: 3px;
}

.team-members{
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-members .member{
    display: flex;
}

.member .dp{
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.member .info{
    height: 25px;
    width: 150px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 10px;
    border-radius: 5px;

}

.logo a{
    text-decoration: none;
    color: inherit;
}

.logo a:visited{
    text-decoration: none;
    color: black;
}
